# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
**/local.properties
**/app/release/
**/app/profile/
**/app/debug/

# iOS (si existiera carpeta ios/)
**/Pods/
**/Runner.xcworkspace/
